.header {
    font-family: fantasy;
    background: #555;
    color: #f1f1f1;
}

.header h2 {
    padding: 10px 16px;
    margin: 0;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 102px;
}
