name: Vividus Test Site CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up JDK 17
      uses: actions/setup-java@v3.1.1
      with:
        java-version: 17
        distribution: 'temurin'
        cache: 'gradle'

    - name: Build with Gradle
      run: |
        ./gradlew build

    - name: Deploy to Heroku
      if: github.ref == 'refs/heads/master'
      run: git push -f https://heroku:${{ secrets.HEROKU_API_KEY }}@git.heroku.com/vividus-test-site.git master
