name: Vividus Test Site CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Build with Gradle
      run: |
        ./gradlew build

    - name: Login to Docker Hub
      if: (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/release-'))
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push Docker image to Docker Hub
      if: (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/release-'))
      run: ./gradlew dockerPushImage

    - name: 'Deploy to render.com: https://vividus-test-site-a92k.onrender.com/'
      if: (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/release-'))
      env:
        RENDER_COM_DEPLOY_HOOK_URL: ${{ secrets.RENDER_COM_DEPLOY_HOOK_URL }}
      run: curl $RENDER_COM_DEPLOY_HOOK_URL
